.search-box {
  width: 100%;
  display: block;
}
.search-box h2 {
  display: none;
}
.search-form {
  margin: 2rem 0 0 2rem;
}
.search-form button {
  width: 60px;
}
@media only screen and (min-width: 780px) {
  .search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .search-box h2 {
    display: block;
    visibility: hidden;
  }
  .search-form {
    margin: 0 4rem 0 0;
  }
}
