.contactPage-wrapper {
  width: 100%;
  min-height: 100vh;
  display: block;
  padding: 10rem 2rem 6rem;
  background: linear-gradient(120deg, #053751, #021b28);
}

@media only screen and (min-width: 780px) {
  .contactPage-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
}
