.contact-form {
  display: block;
  background: #021b28;
  padding: 15px;
  max-width: 100%;
}

.form-input {
  font-size: 14px;
  padding: 14px 12px;
  margin: 5px 0;
  width: 100%;

  color: #096799;
  border: 1px solid #096799;
}
.contact-form input::placeholder {
  color: #096799;
}
.contact-form input:focus {
  border: 1px solid #096799;
}
.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 15px 0;
  color: white;
  font-size: 14px;
}
.check {
  margin-right: 10px;
}

.form-submit-btn {
  margin: 5px 0;
  width: 100%;
  padding: 14px;
  border: none;
  background: #096799;
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
}
.form-submit-btn:hover {
  background: #2389bf;
  cursor: pointer;
}

@media only screen and (min-width: 780px) {
  .contact-form {
    max-width: 40%;
    padding: 30px;
  }
}
