.products-main-container {
  min-height: 100vh;
  background: linear-gradient(120deg, #053751, #021b28);
  padding: 8rem 0;
}

.products-wrapper {
  width: 100%;
  display: block;
  padding: 3rem 3rem 0;
}
.products-heading {
  padding: 1rem 0 0;
  color: white;
}

.cards-container {
  /* max-width: 80%; */

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-columns: 100%; */
  gap: 20px;
}

@media only screen and (min-width: 780px) {
  .products-heading {
    padding: 2rem 4rem;
  }
  .products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1250px) {
  .cards-container {
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}
