.profile-page-wrapper {
  background: linear-gradient(120deg, #053751, #021b28);
  display: block;
  padding: 6rem 3rem;
  min-height: 100vh;
  color: #fff;
}

@media only screen and (min-width: 780px) {
  .profile-page-wrapper {
    padding: 10rem 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
