.header {
  width: 100%;
  height: 120px;
  padding: 0 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 100px;
  padding: 4px;
  cursor: pointer;
}

.main-navigation {
  height: 100%;
}
.main-navigation ul {
  display: flex;
  height: 100%;
  font-size: 1.1rem;
}

.main-navigation ul a {
  padding: 0 1.5rem;
  color: #fff;
  transition: color 0.4s ease-in-out;
}
.main-navigation ul a:hover {
  color: rgb(39, 45, 172);
}

.main-navigation ul li {
  height: 100%;

  display: flex;
  align-items: center;
  cursor: pointer;
}
