@import url("./styles/Header.css");
@import url("./styles/Navigation.css");
@import url("./styles/Homepage.css");
@import url("./styles/SearchBox.css");
@import url("./styles/Products.css");
@import url("./styles/Footer.css");

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contactPage-wrapper {
  padding: 1rem;
}

@media only screen and (min-width: 780px) {
}

@media only screen and (min-width: 1250px) {
}
