.header {
  width: 100%;
  height: 110px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 100px;
  padding: 4px;
  cursor: pointer;
}

.main-navigation {
  height: 100%;
  display: none;
}
.main-navigation ul {
  display: flex;
  height: 100%;
  font-size: 0.8rem;
}

.main-navigation ul a {
  padding: 0 1.2rem;
  color: #fff;
  transition: color 0.4s ease;
  font-weight: 600;
}
.main-navigation ul a:hover {
  color: rgb(120, 120, 125);
}

.main-navigation ul li {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-icon {
  width: 40px;
  height: 40px;
  padding: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
}
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.search-box {
  width: 100%;
  display: block;
}
.search-box h2 {
  display: none;
}
.search-form {
  margin: 2rem 0 0 2rem;
}

.products-wrapper {
  width: 100%;
  display: block;
  padding: 0 2rem;
}
.products-heading {
  padding: 2rem;
  color: #000;
}
.main-wrapper {
  width: 100%;
  /* height: auto; */
  /* padding: 2rem; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  overflow-y: scroll;
}
.cards-container {
  /* max-width: 80%; */

  display: grid;
  /* grid-template-columns: 100%; */
  gap: 20px;
}

.card-box {
  max-width: 450px;
  min-height: 450px;
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
  /* cursor: pointer; */
  transition: all 0.3s ease-in-out;
}
.card-box:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.card-box img {
  width: 100%;
  height: 200px;
}

.card-box h1 {
  font-size: 2rem;
  padding: 10px 15px;
}
.card-box h4 {
  font-size: 1rem;
  padding: 10px 15px;
  font-weight: 400;
}
.add-to-cart-btn {
  padding: 8px 10px;
  margin: 10px 0 0 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  background: green;
  transition: all 0 ease;
}
.add-to-cart-btn:hover {
  cursor: pointer;
  background: rgb(26, 195, 26);
}

.footer {
  padding: 20px 40px;
  background: #101010;
  color: #fff;
  margin-top: auto;
}
.footer-wrapper {
  width: 100%;
  display: block;
}

.terms-and-policy {
  padding: 20px 0;
}

.terms-and-policy p {
  margin-bottom: 5px;
}

.newsletter {
  border: 1px solid orange;
  padding: 10px;
  width: 300px;
}
.newsletter p {
  padding: 0 0 10px 0;
}

.newsletter input,
.search-form input {
  width: 70%;
  padding: 8px 10px;
  margin-right: 5px;
}
.newsletter button,
.search-form button {
  border: none;
  border-radius: 4px;
  color: #fff;
  background: orange;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 12px;
  cursor: pointer;
}
.footer a {
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .main-navigation {
    display: block;
  }
  .main-navigation ul {
    font-size: 0.9rem;
  }
  .menu-icon {
    display: none;
  }
  .card-box img {
    height: 250px;
  }
}

@media only screen and (min-width: 780px) {
  .header {
    padding: 0 2.5rem;
  }
  .main-navigation ul {
    font-size: 1.1rem;
  }
  .main-navigation ul a {
    padding: 0 1.5rem;
  }
  .search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .search-box h2 {
    display: block;
    visibility: hidden;
  }
  .search-form {
    margin: 0 4rem 0 0;
  }
  .products-heading {
    padding: 2rem 4rem;
  }
  .products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 1250px) {
  .header {
    padding: 0 5.5rem;
  }
  .main-wrapper {
    padding: 3rem 0 3rem;
  }
  .cards-container {
    gap: 30px;
  }
  .footer-wrapper {
    padding: 20px 80px;
  }
  .newsletter {
    padding: 10px;
    width: 350px;
  }
}
