.contactPage-wrapper {
  width: 100%;
  height: 100vh;
  display: block;
  padding: 2rem;
  background: linear-gradient(120deg, #053751, #021b28);
}
.contact-info-box {
  max-width: 100%;
  padding: 1.4rem 0 1rem 1rem;
  margin-bottom: 1rem;
  color: white;
  background: #021b28;
}
.contact-info-box h1 {
  font-size: 28px;
}

.contact-info-box ul {
  padding: 10px 0;
}
.contact-info-box ul li {
  padding: 5px 0 5px;
  font-size: 16px;
}
.contact-form {
  display: block;
  background: #021b28;
  padding: 15px;
  max-width: 100%;
}

.form-input {
  font-size: 14px;
  padding: 14px 12px;
  margin: 5px 0;
  width: 100%;

  color: #096799;
  border: 1px solid #096799;
}
.contact-form input::placeholder {
  color: #096799;
}
.contact-form input:focus {
  border: 1px solid #096799;
}
.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 15px 0;
  color: white;
  font-size: 14px;
}
.check {
  margin-right: 10px;
}

.form-submit-btn {
  margin: 5px 0;
  width: 100%;
  padding: 14px;
  border: none;
  background: #096799;
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
}
.form-submit-btn:hover {
  background: #2389bf;
  cursor: pointer;
}
@media only screen and (min-width: 780px) {
  .contactPage-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  .contact-info-box {
    width: 40%;
  }
  .contact-form {
    max-width: 40%;
    padding: 30px;
  }
}
@media only screen and (min-width: 1250px) {
  .contact-info-box {
    width: 40%;
    margin-bottom: 0;
    padding: 3rem 0 0 2rem;
  }
  .contact-info-box ul {
    padding: 3rem 0;
  }
}
