.main-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: linear-gradient(120deg, #053751, #021b28);
}
@media only screen and (min-width: 1250px) {
  .main-wrapper {
    padding: 3rem 0 3rem;
  }
}
