.profile-page-wrapper {
  background: linear-gradient(120deg, #053751, #021b28);
  display: block;
  padding: 3rem;
  min-height: 100vh;
  color: #fff;
}
.form-heading h1 {
  margin-bottom: 2rem;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}

.profile-details {
  width: 100%;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-wrapper label {
  font-size: 18px;
}
.input-wrapper input {
  flex: 1;
  margin: 7px 0 20px;
  padding: 7px 10px;
  font-size: 16px;
}
.profile-save-btn {
  padding: 8px 14px;
  font-size: 14px;
  color: white;
  background-color: orange;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
}
.profile-save-btn:hover {
  cursor: pointer;
  background-color: rgb(252, 176, 35);
}

@media only screen and (min-width: 780px) {
  .profile-page-wrapper {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-details {
    width: 40%;
  }
  .input-wrapper input {
    margin: 8px 0 20px;
    padding: 10px 20px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1250px) {
  .profile-details {
    width: 30%;
  }
}
